name: "Run tests"

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
        cache: 'pip'
        cache-dependency-path: 'mlops2026/requirements.txt'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Forcing specific compatible versions for NMS error
        pip install numpy pytest
        pip install torch torchvision --index-url https://download.pytorch.org/whl/cpu
        # Then install the rest of your requirements
        if [ -f mlops2026/requirements.txt ]; then pip install -r mlops2026/requirements.txt; fi
      shell: bash

    - name: Test with pytest
      working-directory: ./mlops2026
      run: |
        pytest -v
      env:
        PYTHONPATH: src
