name: "Run tests"

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:
    #Multi-OS 
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
        #Caching
        cache: 'pip'
        cache-dependency-path: 'mlops2026/requirements.txt'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r mlops2026/requirements.txt
        #if requirements_tests.txt exists, install it, otherwise skip
        if [ -f mlops2026/requirements_tests.txt ]; then pip install -r mlops2026/requirements_tests.txt; fi
        pip install pytest

    - name: Test with pytest
      run: |
        pytest -v
